@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

@import "tailwindcss";

/* cl{
  color:   #a9b5bb ;
} */
.bg-image-class{
background-image: url("/office-stats.jpg");
background-size: cover;
background-repeat: no-repeat;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  /* color: #029102 */
  animation: marquee 20s linear infinite;
}

/* .dhi{
  background-color: #6d6c6c5a;
} */


/* stylelint-disable-next-line */
@theme{
/* Colors */
  /* --color-primary: #940094 ;
  --color-lightPrimary: #fce1fc ;
  --color-primaryShade: #fb9bfb ; */
  /* green */
  /* --color-primary:#029102;      
--color-lightPrimary: #d6f5d6;   
--color-primaryShade: #5cf05c;    */

--color-primary: #002366;        /* classic navy blue */
--color-lightPrimary: #dce4ff;   /* pale blue highlight */
--color-primaryShade: #0047ab;   /* royal blue accent */


  --color-white: #ffffff ;
  --color-dark: #171515 ;
  --color-lightDark: #374151 ;
  --color-footerTextOne:#d0d5db ;
  --color-footerTextTwo:#5f6573 ;
  --color-grayUtil: #a9b5bb;

/* font */
  --font-jakarta : 'Plus Jakarta Sans', sans-serif;
  /* break points */

  --breakpoint-xxs: 330px;
  --breakpoint-xs: 370px;
  --breakpoint-sm: 400px;
  --breakpoint-mdsm: 500px;
  --breakpoint-md: 640px;
  --breakpoint-mdlg: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;

}







.loader {
    width: 50px;
    height: 50px;
    border: 3px solid #940094;
    border-bottom-color: #c1bfbf;
    border-radius: 50%;
    display: inline-block;

    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.btn-loader {
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-bottom-color: #c1bfbf;
    border-radius: 50%;
    display: inline-block;

    box-sizing: border-box;
    animation: rotation-btn 1s linear infinite;
    }

    @keyframes rotation-btn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 